 @font-face{
    font-family: "Aquire";
    src:url('../font-web/AquireBold-8Ma60.otf');
   
    
}
@font-face{
     font-family: 'Aquirebiasa';
    src:url('../font-web/Aquire-BW0ox.otf');
}
body {
    background-color: #f2f2f2;
}

section {
    height: 580px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
    margin-top: 30px;
    margin-left: 0px;
    border-radius: 8px;
}

.h3log {
    text-align: center;
    padding-top: 50px;
    color: grey;
     font-family: "Aquire";
    font-weight: 600;
}

.h4log {
    text-align: center;
    padding-top: -50px;
     font-family: "Aquirebiasa";
    font-weight: 700;

}

.hayukhr {
    width: 30%;
    border-color: orange;
}

.img-fluid {
    height: 200px;
    margin-top: -20px;
}



  .input-box{
        position: relative;
        margin-bottom: 20px;
        width: 60%;
        
    }
    .input-box input {
        margin-left: 0px;
        border: none;
        background: none;
        outline: none;
        color: black;
        width: 100%;
        border-bottom: 2px solid orange;
        padding: 3px 5px;
        font-size: 16px;

    }
    .input-box label{
        position: absolute;
        top: 0;
        left: 0;
        padding: 3px 1px;
        font-size: 16px;
        pointer-events: none;
        transition: .5s;
        color: grey;
    }
    .input-box input:focus ~ label,
    .input-box input:valid ~ label{
        top: -20px;
        left: 0;
        font-size: 12px;
        color:black;
        font-weight: bold;
    }


.btn {
    background: linear-gradient(to right, #ffff00 2%, #ff9933 98%);
    margin-top: 30px;
    width: 50%;
    border-radius: 15px;
    font-weight: 600;
}

.daftar {
    margin-top: 20px;
}

a {
    color: red;
}

.daftar a:hover {
    text-decoration: none;
    color: blue;
}

.linked {
    color: white;
    text-shadow: 1px 2px 1px black;
}

.kerenboy {
    border: none;
    width: 250px;
    outline: none;
    height: 40px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    background: linear-gradient(-45deg, #ff9900, #ff3d77, #ff8000, #ffcc80);
    background-size: 600%;
    animation: anime 7s linear infinite;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);


}
.kerenboy:hover{
        background:orange;
        color: white;
        text-shadow: 1px 2px 1px black;
        outline: none;
    }
a:hover {
    text-decoration: none;
    color: black;
    outline: none;
}

@keyframes anime {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.kotaks {
    background-color: black;
    color: orange;
    width: 30%;
    margin-bottom: -30px;
    padding-top: 7px;
    padding-left: 30px;
    height: 40px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.kotaks a {
    color: orange;
}

.kotaks a:hover {
    text-decoration: none;
    color: white;

}








@media (min-width: 992px) {
    section {
        height: 600px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        width: 35%;
        margin-top: 30px;
        margin-left: 380px;
        border-radius: 8px;
    }

    .h3log {
        text-align: center;
        padding-top: 50px;
        color: grey;
         font-family: "Aquire";
        font-weight: 600;
    }

    .h4log {
        text-align: center;
        padding-top: -50px;
        font-weight: 700;
         font-family: "Aquirebiasa";

    }

    .hayukhr {
        width: 30%;
        border-color: orange;
    }

    .img-fluid {
        height: 200px;
        margin-top: -20px;
    }

    
    .input-box{
        position: relative;
        margin-bottom: 20px;
        width: 60%;
        
    }
    .input-box input {
        margin-left: 0px;
        border: none;
        background: none;
        outline: none;
        color: black;
        width: 100%;
        border-bottom: 2px solid orange;
        padding: 3px 5px;
        font-size: 16px;

    }
    .input-box label{
        position: absolute;
        top: 0;
        left: 0;
        padding: 3px 1px;
        font-size: 16px;
        pointer-events: none;
        transition: .5s;
        color: grey;
    }
    .input-box input:focus ~ label,
    .input-box input:valid ~ label{
        top: -20px;
        left: 0;
        font-size: 12px;
        color:black;
        font-weight: bold;
    }

    .btn {
        background: linear-gradient(to right, #ffff00 2%, #ff9933 98%);
        margin-top: 30px;
        width: 50%;
        border-radius: 100px;
        font-weight: 600;
    }

    .daftar {
        margin-top: 30px;
    }

    .daftar a:hover {
        text-decoration: none;
        color: blue;
    }

    .kotaks {
        background-color: black;
        color: orange;
        width: 30%;
        margin-bottom: -30px;
        padding-top: 7px;
        padding-left: 30px;
        height: 40px;
        text-align: left;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    }

    .kotaks a {
        color: orange;
    }

    .kotaks a:hover {
        text-decoration: none;
        color: white;

    }

    .linked {
        color: white;
        text-shadow: 1px 2px 1px black;
    }
    .kerenboy {
        border: none;
        width: 240px;
        height: 40px;
        margin-top: 20px;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
        border-radius: 50px;
        background: linear-gradient(-45deg, #ff9900, #ff3d77, #ff8000, #ffcc80);
        background-size: 600%;
        animation: anime 7s linear infinite;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);


    }
    .kerenboy:hover{
        background:orange;
        color: white;
        text-shadow: 1px 2px 1px black;
        outline: none;  
    }

    a:hover {
        text-decoration: none;
        color: black;
         
    }

    @keyframes anime {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .livebox a {
        width: 240px;
        height: 40px;
        background-color: red;
    }
}